*{
    margin: 0;
    padding: 0;
}

.container-header{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 222, 7);
    font-family: serif;
    font-weight: 800;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.img-header{
    width: 80px;
    
}

h1{
    padding: 0 1rem;
}


.container-footer{
    width: 100%;
    min-height: 100px;
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.container-move{
    width: 100%;
    background-color:rgb(0, 0, 0); 
    color: white;

}

.contenido{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    padding: 3rem 0rem;
    align-items: center;
    justify-content: center
    
}

.card{
    max-width:100%;
    width:300px;
    max-height: 550px;
    height: 550px;
    overflow: hidden;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.img-test{
    width: 100%;
    height: 500px;
    max-height: 85%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img1{
    background-image: url('./img/Beau\ Tiene\ Miedo.png');
}
.img2{
    background-image: url('./img/El\ Hijo.png');
}


.img3{
    background-image: url('./img/Flash\ copy.jpg');
}

.img4{
    background-image: url('./img/Guardianes\ de\ la\ Galaxia\ Vol\ 3.jpg');
}

.img5{
    background-image: url('./img/La\ Criatura\ del\ Lago.png');
}

.img6{
    background-image: url('./img/Super\ Mario\ Bros.jpg');
}

.img7{
    background-image: url('./img/La\ Sirenita.png');
}

.img8{
    background-image: url('./img/Los\ Caballeros\ del\ Zodiaco\ Saint\ Seiya.jpg');
}

.img9{
    background-image: url('./img/Mañana\ Antes\ Después.png');
}



.section-title{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-card{
    line-height: 1.2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    
}

@media (min-width:768px){
    .card{
        max-width: 22%;
    }
    }
    
@media (min-width:620px){
    .card{
        max-width: 50%;
    }
    
}


.logocine {
    height: 70%;
    width: 130px;
    margin-left: 5%;
    
    
}

.crispetas{
    width: 100%;

    
}



.promociones{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      
}

.imagen-mario{
    width: 90%;

    padding: 16px;
}

.starwars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.starwars img{
    width: 80px;
    padding: 0 16px;
}
